<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <a href="/"> <img src="/logo.jpg" alt="" height="100px" width="100px"></a>
    <% if (user) { %>
      Welcome, <%= user.firstname %>
        <%= user.lastname %>
          <% } else { %>
            <% } %>

              <ul>
                <% if (user) { %>
                  <li>Welcome, <%= user.firstname %>
                      <%= user.lastname %>
                  </li>
                  <li><button><a href="/logout">Log out</a></button></li>
                  <li><button><a href="/home">home</a></button></li>
                  <li><button><a href="/">job</a></button></li>
                  <li><button><a href="/blogs/create">create job</a></button></li>
                  <li><button><a href="/dashboard">dashboard</a></button></li>
                  <li><button><a href="/home">home</a></button></li>
                  <!-- <li><button><a href="/login">login</a></button></li> -->
                  <li><button><a href="/profile">profile</a></button></li>
                  <li><button><a href="./signup" class="btn">Sign up</a></button></li>
                  <% } else { %>
                    <li><button><a href="/">job</a></button></li>
                    <!-- <li><button><a href="/blogs/create">create job</a></button></li> -->
                    <!-- <li><button><a href="/dashboard">dashboard</a></button></li> -->
                    <!-- <li><button><a href="/home">home</a></button></li> -->
                    <li><button><a href="/login">login</a></button></li>
                    <!-- <li><button><a href="/profile">profile</a></button></li> -->
                    <li><button><a href="./signup" class="btn">Sign up</a></button></li>
                    <% } %>
              </ul>


  </nav>